/* body {
  width: 230mm;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 12pt;
  background: rgb(204, 204, 204);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
} */

.main-page {
  width: 210mm;
  min-height: 297mm;
  margin: 10mm auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.copy-form {
  padding-top: 235px;
}

.sub-page {
  padding: 1cm;
  height: 297mm;
  padding-top: 150px;
}

.customer-details {
  width: 80%;
  display: flex;
  margin: auto;
  margin-left: 30px;
}

.customer-name {
  width: 40%;
  display: inline-block;
}

.customer-time {
  width: 30%;
  margin-left: 15px;
  display: inline-block;
}

.customer-sr {
  width: 27%;
  display: inline-block;
}

.customer-date-sample {
  width: 80%;
  display: flex;
  margin: auto;
  margin-left: 30px;
  padding-top: 10px;
}

.customer-date {
  width: 40%;
  display: inline-block;
}

.customer-sample {
  width: 40%;
  margin-left: 15px;
  display: inline-block;
}

.gold-karat-weight {
  width: 80%;
  font-size: larger;
  font-weight: bold;
  display: flex;
  margin: auto;
  margin-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.gold {
  width: 30%;
  display: inline-block;
}

.karat {
  width: 30%;
  display: inline-block;
}

.weight {
  width: 40%;
  display: inline-block;
}

.concentration-block {
  width: 100%;
  display: flex;
  margin: auto;
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: -15px;
}

.first-block {
  width: 25%;
  display: inline-block;
}

.second-block {
  width: 25%;
  display: inline-block;
  margin-left: 50px;
}

.third-block {
  width: 23%;
  display: inline-block;
  margin-left: 40px;
}

.element-block {
  width: 100%;
}

.elements {
  width: 50%;
  display: inline-block;
}

.percentage {
  display: inline-flex;
  width: 40%;
  flex-direction: row;
  justify-content: flex-end;
}

.vl {
  border-left: 1px solid black;
  height: 155px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -9px
}

hr.separator {
  width: 95%;
  visibility: hidden;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .main-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
  .App-Header {
    display: none;
  }
}

.font-settings {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}

.login-container {
  background-color: lemonchiffon;
  border: 1px solid black;
}

.login-main {
  width: 100%;
  display: flex;
}

.login-main-img {
  width: 50%;
  display: flex;
}

.login-inputs {
  width: 100%;
  display: block;
}

.printnsave {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}